header
  div.logo-wrap
    .logo 
      a(href="#") MIKE<span>HARRISON</span>PHOTOGRAPHY
  div.home-nav
    div.home-link 
      ul
        li
          a(href="#") Home
        li
          a(href="#") About
    div.home-link
      ul
        li
          a(href="#") Work
        li
          a(href="#") Blog
  
  div.mobile-logo-wrap
    .logo 
      a(href="#") M<span>H</span>PHOTO
  div.mobile-nav
    img(src="../assets/img/menu.svg")
