header
  div.logo-wrap
    .logo 
      a(href="http://mikejharrison.github.io") MIKE<span>HARRISON</span>PHOTOGRAPHY
  div.home-nav
    div.home-link 
      ul
        li
          a(href="http://mikejharrison.github.io") Home
        li
          a(href="http://mikejharrison.github.io/archive") Blog
    div.home-link
      ul
        li
          a(href="#") About
        
  
  div.mobile-logo-wrap
    .logo 
      a(href="http://mikejharrison.github.io") M<span>H</span>PHOTO
  div.mobile-nav
    img(src="../assets/img/menu.svg")
