article.iatefl
  p.lead I started taking photos at IATEFL properly back in 2014, when the conference was held in Harrogate.
  p Here are some of the photos from 2015 and 2016.
  
  div.iatefl-gallery
    figure.iatefl.caption-hover
      img(src="/assets/img/pt-1.jpg")
      figcaption
        h3 conference badges at the TDSIG Pre Conference Event
    figure.iatefl.caption-hover
      img(src="/assets/img/pt-3.jpg")
      figcaption
        h3 Marek, one of our speakers at the TDSIG Pre Conference Event
    figure.iatefl.caption-hover
      img(src="/assets/img/pt-2.jpg")
      figcaption
        h3 TDSIG delegates in conversation, including Suzanne in the centre
    figure.iatefl.caption-hover
      img(src="/assets/img/pt-5.jpg")
      figcaption
        h3 John Hughes giving a talk on materials writing in 2014
