section.portfolio
  h1 Here are some more of my pics...
  div.container
    div
      img(src="../assets/img/bg-1.jpg")
    div
      img(src="../assets/img/bg-2.jpg")
    div
      img(src="../assets/img/bg-3.jpg")
    div
      img(src="../assets/img/port-1.jpg")
    div
      img(src="../assets/img/port-2.jpg") 
    div
      img(src="../assets/img/port-3.jpg") 
