article.naffy-sam
  p.lead I was very happy to be asked by Sam and Naffy to take photos at their wedding party on Sunday 1 May 2016.
  p Here are some of the photographs I took during the day. Looking at them you'll see that I really favour a reportage approach to photography. Rather than photographing stilted posed set ups, what I've tried to do is capture some of the story of the day. 
  div.naffy-gallery
    div.full
      img(src="/assets/img/weddings/naffy-sam/bride-arrives.jpg", alt="bride arrives")
    div.full
      img(src="/assets/img/weddings/naffy-sam/setting-up.jpg", alt="four people setting up tables")
    div.full
      img(src="/assets/img/weddings/naffy-sam/dancing.jpg", alt="bride and groom dancing")
    div.full
      img(src="/assets/img/weddings/naffy-sam/guitar-here.jpg", alt="woman pointing holding guitar")
    div.full
      img(src="/assets/img/weddings/naffy-sam/dancing-2.jpg", alt="man and woman dancing")
    

    
