section.splash
  div.gallery-container
    div
      img(src="../assets/img/pt-1.jpg", alt="conference badges")
    div
      img(src="../assets/img/pt-2.jpg", alt="conference discussion")
    div
      img(src="../assets/img/pt-3.jpg", alt="Marek Kiczkowiak at TDSIG")
    div
      img(src="../assets/img/pt-4.jpg", alt="carpark urban grafitti")
    div
      img(src="../assets/img/pt-5.jpg", alt="John Hughes IATEFL")
    div
      img(src="../assets/img/pt-6.jpg", alt="squirrel tree")
    div
      img(src="../assets/img/pt-7.jpg", alt="West Reservoir Centre")
    div
      img(src="../assets/img/pt-8.jpg", alt="Stoke Newington mirrorball")
    div
      img(src="../assets/img/pt-9.jpg", alt="Hyde Park The Severn")
  div.about-blurb
    p My name is Mike Harrison
    p I'm largely self taught
    p I shoot photos of people, places and things (and the occasional squirrel!) 
