section.work
  div.work-wrap
    div.examples
      img(src="../assets/img/bg-1.jpg")
      img(src="../assets/img/bg-2.jpg")
      img(src="../assets/img/bg-3.jpg")
    div.portfolio-link Check out more of my work... 
      button
        a(href="http://www.mjhfoto.com/portfolio") See the pics! ▶
    
