article.iatefl
  width: 100%
  margin-bottom: 20px
  padding: 0
  display: flex
  flex-direction: column
  align-items: center
  .iatefl-gallery
    //background-color: pink
    //width: 100%
    display: flex
    figure.iatefl
      margin: 0
      padding: 0
      //background-color: blue
      img
        width: 100%
        margin: 0
