article.rugby
  .rugby-gallery
    margin: 10px auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center
    max-width: 95%
    .full
      margin: 5px
      width: 100%
      img
        border-radius: 3px
        width: 100%
        height: auto
