section.contact
  background-color: rgba(40, 44, 52, 1)
  padding-top: 20px
  padding-bottom: 20px
  font-family: monospace
  color: white

  .contact-blurb
    text-align: center
    p
      color: white
  .emailer
    text-align: center
    p
      color: white
      margin-left: 10px
      margin-right: 10px
      a
        display: block
        color: white
        font-size: 20px
        margin-left: 10px
        margin-right: 10px
