section.splash
  z-index: -1
  padding-top: 100px
  .gallery-container
    margin-bottom: 20px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center
    figure
      border-radius: 5px
      margin-right: 5px
      margin-left: 5px
      margin-bottom: 5px
      width: 20%
      img
        width: 120%
        border-radius: 3px
      h3
        font-size: 24px
      i
        background-color: gray
        border-radius: 5px
  div.about-blurb
    padding-top: 20px
    padding-bottom: 20px
    background-color: #eee
    text-align: center
    p
      font-family: monospace
      font-size: 20px
      margin: 0 10px
      padding: 0

// Caption Styles

@import url(https://fonts.googleapis.com/css?family=Lato:400,700)
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css)

.caption-hover, .static-caption
  font-family: 'Lato', Arial, sans-serif
  position: relative
  float: left
  overflow: hidden
  margin: 10px 1%
  min-width: 230px
  max-width: 315px
  width: 100%
  color: #eee
  text-align: center
  font-size: 16px
  background-color: rgba(255,255,255,0.1)
  line-height: 1.5em

.static-caption *,
.static-caption *:before,
.static-caption *:after,
.caption-hover *,
.caption-hover *:before,
.caption-hover *:after
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 0.25s linear
  transition: all 0.25s linear

.static-caption img,
.caption-hover img
  width: calc(120%)
  backface-visibility: hidden
  vertical-align: top

.static-caption figcaption,
.caption-hover figcaption
  position: absolute
  top: 50%
  width: 100%
  -webkit-transform: translateY(-25%)
  transform: translateY(-25%)
  padding: 5px 40px
  opacity: 0

.static-caption, h3,
.caption-hover, h3
  font-size: 30px
  color: black
  margin: 0
  //text-transform: uppercase
  font-weight: 700

.static-caption p,
.caption-hover p
  font-weight: 400
  margin: 0
  font-size: 0.9em

.static-caption i
.caption-hover i
  position: absolute
  color: #fff
  font-size: 34.375px
  line-height: 55px
  width: 55px
  bottom: 0
  right: 0
  background-color: black
  -webkit-transform: translateX(55px)
  transform: translateX(55px)

.static-caption a,
.caption-hover a
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.static-caption:hover img
  zoom: 1
  filter: alpha(opacity=30)
  -webkit-opacity: 0.3
  opacity: 0.3


.caption-hover:hover img,
.caption-hover.hover img
  zoom: 1
  filter: alpha(opacity=30)
  -webkit-opacity: 0.3
  opacity: 0.3
  -webkit-transform: translateX(-40px)
  transform: translateX(-40px)

.static-caption:hover figcaption,
.caption-hover:hover figcaption,
.caption-hover.hover figcaption
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
  opacity: 0.5

.static-caption:hover i,
.caption-hover:hover i,
.caption-hover.hover i
  -webkit-transform: translateX(0)
  transform: translateX(0)
